@{
    ViewData["Title"] = "Reporte Calendario";
}

<partial name="_Submenu" Model = "SubMenuTransacciones.Calendario" />

<div id="calendario"></div>

@section Scripts {
        <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.4/index.global.min.js"></script>
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                const calendarioEL = document.getElementById('calendario');
                const calendario = new FullCalendar.Calendar(calendarioEL, {
                    dayMaxEventRows: 3,
                    initialView: 'dayGridMonth',
                    events: '/transacciones/ObtenerTransaccionesCalendario',
                    dateClick: async function(info){
                        //console.log(info)
                        await buscarTransaccionesPorFecha(info.dateStr)
                    }
                });

                calendario.render();
            })

            async function buscarTransaccionesPorFecha(fecha) {
                const response = await fetch(`/transacciones/ObtenerTransacionesPorFecha?fecha=${fecha}`, {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                });
                    
                const json = await response.json();
                console.log(json)

            }
        </script>
}